{% extends 'base.html' %}

{% block content %}
    <main>
      <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todolist in todolist_list %}
                    <tr>
                        <td>{{ todolist.name }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
  </main>
{% endblock content %}